.cabecalho{
    display: flex;
    justify-content: space-around;
    background: black;
    border-bottom: 1px solid #aadbea;
    box-shadow: 4px 4px #fdfdfd;
}

.cabecalho .lista{
    display: flex;
    font-size: 1.4em;
    margin-bottom: 1.1em;
}

.item_header{
    margin: 1em 1em auto 0;
    border: 1px solid rgba(255, 166, 0, 0.501);
    border-radius: 5px;
    padding: 20px;
}

.link{
    text-decoration: none;
    color: #fdfdfd;
}

.link:hover{
    color: #823a9d
}
