/* estilo do main */ 

main{
    background: linear-gradient( #0157ff, #1b9fbc, #390c78);
    /* background: linear-gradient(#0157ff, #5365ff, #828fff, #5365ff, #0157ff); */
}

.competencias{
    height: calc(100vh - 96px);
    
}

.boxs .container{    
    display:flex;
    justify-content: space-around;
}

.titulo_principal{
    color: black;
    text-align: center;
    font-size: 5em;
    margin-bottom: 1.2em;
    padding-top: 1.3em;
    font-family: cursive;
}

.box{
    /* background: linear-gradient( 90deg, #831ab4, #8233ee, #5206bc); */
    background: linear-gradient(90deg, #971ab4, #974dff, #4e00ba);
    border: 1px solid black;
    border-radius: 100%;
    height: 400px;
    margin: .6em 0 0 0;
    width: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px black;
}

.titulo{
    font-size: 2.4em;
    font-weight: bold;
    padding: .8em;
    text-align: center;    
}

.item{
    margin: 0 0 .3em .3em;
    padding: .2em;
    font-size: 1.6em;
}

/* Efeitos de carta */

.card .box{
    transition: transform 0.9s;
    transform-style: preserve-3d;
}

.card:hover .box{
    transform: rotateY(180deg);
}

.frente, .tras{
    position: absolute;
    backface-visibility: hidden;
}

.tras {
    transform: rotateY(180deg);
}

.frente , .tras{
    border-radius: 12px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3)
}
